body{
    margin: 0px;
    padding: 0px;
}
#div1, #div2, #div3{
    display: inline-block;
    width: 30%;
    height: 100px;
    border: 3px solid #aaa;
    margin: 1%;
}

#div1{
background-color: orange;
}
#div2{
    background-color: blue;
}
#div3{
    background-color: greenyellow;
}

#footer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
    background-color: #ccc;
}

@media screen and (max-width: 780px){
    #div1, #div2, #div3{
        width: 100%;
        border-right: none;
        border-left: none;
        margin-right: 0px;
        margin-left: 0px;
    } 
    #footer{
        display: none;
    }
}
/* body{
    background-color: greenyellow;
}
@media screen and (max-width: 600px){
body{
        background-color: orange;
    }
}

@media  screen and (min-width: 681px) and (max-width: 1279px) {
    body{
        background-color: blue;
    }
    h1{
        font-size: 20px;
    }
}

@media screen and (min-width: 1280px) {
        
} */
    
/* body{
    width: 100%;
}

div,p{
    width: 50%;
    border: 1px solid black;
}

div{
    background-color: #08b;
}

p{
    background-color: #0B8;
} */