 /* h1{
    font-size: 80px;
    color: antiquewhite;
    font-style: italic;
}

p{
color: crimson;
font-weight: bold;
} 

/* appliquer un style a diferrent types d'element */
/* h1, p{
    color: darkorange;
} */

/* ID et CLASS en html et CSS */

/* #p1{
    color: blue;
}

.p1{
    color: red;
}

#para{
    font-weight: bold;
}  */

/* Heritage en CSS */
 /* body{
    color: blue;
}
p{
    color: red;
}
#para{
    color: green;
}  */

/* Types block et inline */
/* p{
    border: 1px solid black ;
} */

/* les elements DIV et SPAN */
/* .div-para{
    background-color: green;
    font-weight: bold;
}
.span-trois{
    color: blue;
} */

/* Police d'ecriture en CSS */


body{
    /* font-family: "Century Gothic",Verdana, sans-serif; */
    font-family: "Open Sans", sans-serif;
    /* background-image: url("codeur1.jpg"), url("un dev.jpg");
    background-size: 35%, 55%;
    background-repeat: no-repeat, no-repeat;
     background-position: top left, top right;
        */
    } 
/* h1{
   text-align: center; 
   text-transform: uppercase; 
   text-decoration: underline;
   text-shadow: 0px 0px 3px teal;
} 
.p1{
   text-transform: lowercase;
   text-shadow: 3px -3px 4px #444;
}
.p2{
    text-transform: capitalize;
    text-decoration: line-through;
    text-shadow: -3px 3px 4px blue;
}
a{
    text-decoration: none;
} */

/* .p1{
    letter-spacing: 2px;
    word-spacing: 10px;
}
.p2{
    letter-spacing: -20px;
    text-align: right;
} */

/* .div1{
    background-color: #008;
    width: 500px;
    padding: 20px;
    border: 20px solid #0C0;
    margin: 50px;
} */

/* .div1{
    height: 400px;
    width: 500px;
    background-color: #088;
    border: 20px ridge black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}
.p1{
    height: 100px;
    width: 50%;
    background-color: blue;
    border-width: 2px;
    border-style: inset;
    border-color: yellow;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 3px 7px orange inset;
} */

/* p{
    display: inline;
    border: 1px solid black;
}
.p1{
display: inline-block;
width: 65%;
}
.p2{
    display: inline-block;
    width: 30%
} */

/* .div1{
    background-color: orange;
    position: fixed;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 400px;
    z-index: 100;
}
h1{
    position: absolute;
    top: 10px;
    left: 130px;
    z-index: 1000;
}
.p1{
    position: relative;
    left: 50px;
} */

/* .div1{
    background-color: orange;
    width: 200px;
    height: 50px;
    z-index: 100;
    float: right;
    clear: left;
    overflow: auto;
}
h1{
   z-index: 1000;
   float: left;
}
.p1{
    left: 50px;
    float: right;
}
.p2{
    clear: right;
} */
/* .div1{
    background-color: orange;
    width: 400px;
    height: 200px;
    float: left;
    text-align: center;
   }
   h1{
    float: left;
   } */

/* h1{
  background-color: #069;  
}
.div1{
    background-color: rgba(200, 200, 000, 0.6);
} */

/* .div1{
    background: -webkit-linear-gradient(RGBa(255, 000, 000, 0.8), RGBa(255, 000, 000, 0.1));
    background: -o-linear-gradient(RGBa(255, 000, 000, 0.8), RGBa(255, 000, 000, 0.1));
    background: -moz-linear-gradient(RGBa(255, 000, 000, 0.8), RGBa(255, 000, 000, 0.1));
    background: linear-gradient(RGBa(255, 000, 000, 0.8), RGBa(255, 000, 000, 0.1));
} */

/* .div1{
    float: left;
    width: 400px;
    height: 400px;
    background: -webkit-radial-gradient(20% 40%, closest-side, blue 10%, purple 30%, red);
    background: -o-radial-gradient(20% 40%, closest-side, blue 10%, purple 30%, red);
    background: -moz-radial-gradient(20% 40%, closest-side, blue 10%, purple 30%, red);
    background: radial-gradient(closest-side at 20% 40%, blue 10%, purple 30%, red);
}

.div2{
    float: right;
    width: 400px;
    height: 400px;
    background: -webkit-radial-gradient(20% 40%, farthest-side, blue 10%, purple 80%, red);
    background: -o-radial-gradient(20% 40%, farthest-side, blue 10%, purple 80%, red);
    background: -moz-radial-gradient(20% 40%,farthest-side, blue 10%, purple 80%, red);
    background: radial-gradient(farthest-side at 20% 40%, blue 10%, purple 80%, red);
} */

 /*table{
    border-collapse: collapse;
}

thead th, tfoot td{
    background-color: rgb(110, 200, 40);
    color: #fff;
    text-transform: uppercase;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

th{ 
    font-weight: normal;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #ccc;
}*/ 

/* table{
    border-collapse: collapse;
}
td, th{
    border:1px solid black;
    padding:10px;
} */


/* img{
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 17px #bbb;
} */


/* h1{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: Verdana, sans-serif;

    background-color: #fff;
    background-image: url("codeur1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top left;
    }

p{
    font: italic, normal, 16px/24px, verdana, sans-serif;

    background: #fff url("codeur1.jpg") no-repeat scroll top left;
    } */


    /* div[class]{
       border: 1px solid black;
    } */

    /* h1:hover{
        color: orange;
    }

    a:link{
        color: blue;
    }

    a:visited{
        color: green;
    } */

    /* p:first-child{
        color: orange;
    }

    p:last-child{
        color: greenyellow
    } */

    /* p:nth-child(even){
        color: purple;
    } */


    /* p::-moz-selection{
        background-color: orange;
    }

    p::selection{
        background-color: orange;
    } */

    /* div{
        border: 1px solid black;
    }

    div::before{
        content: "Du texte ajouté au début de mon div, avec ::before";
    }

    div::after{
        content: url("codeur1.jpg");
    } */

    /* #fb, #tw, #lk{
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
    }

    #fb{
        background-image: url("logo-sociaux.jpg");
        background-position: 0px 0px;
        
    }

    #tw{
        background-image: url("logo-sociaux.jpg");
        background-position: -65px 0px;
        left: 200px;
    }

    #lk{
        background: url("logo-sociaux.jpg") -65px -65px;
        left: 400px;
    } */


    /* div{
        width: 200px;
        height: 200px;
        background-color: #06D;
        -webkit-transition: 3s width 2s ease, background-color 5s ease;
        -mozt-transition: 3s width 2s ease, background-color 5s ease;
        -o-transition: 3s width 2s ease, background-color 5s ease;
        transition: 3s width 2s ease, background-color 5s ease;
    }

    div:hover{
        width: 400px;
        background-color: #a03;
    } */

    div{
        width: 200px;
        height: 200px;
        background-color: blue;
        position: relative;
        -webkit-animation-name: chgt-couleur;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-delay: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;

        -moz-animation-name: chgt-couleur;
        -moz-animation-duration: 5s;
        -moz-animation-timing-function: ease;
        -moz-animation-delay: 4s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: alternate;

        -o-animation-name: chgt-couleur;
        -o-animation-duration: 5s;
        -o-animation-timing-function: ease;
        -o-animation-delay: 4s;
        -o-animation-iteration-count: infinite;
        -o-animation-direction: alternate;

        animation-name: chgt-couleur;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @-webkit-keyframes chgt-couleur{
        0%{background-color:  greenyellow; top: 0px; left: 0px;}
        25%{background-color: yellow; top: 0px; left: 200px;}
        50%{background-color: red; top: 200px; left: 200px;}
        75%{background-color: blue; top: 200px; left: 0;}
        100%{background-color:  greenyellow; top: 0px; left: 0px;}
    }

    









