p{
    font-family: Arial, sans-serif;
    font-size: 1em;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 2.5em;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    color: white;  
}

.banner{
    padding: 50px;
    background-image: url("images/vol.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;
}

td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column; 
    margin: auto;
    width: 100%;
}

input{
    padding: 10px;
    border: 1px solid black;
}

input[type="submit"] {
    margin-top: 20px;
    font-size: 1em;
    width: 10%;
}

input, textarea {
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

fieldset{
    background-color: #bac9ce;
}

legend{
    background: white;
}
 .conteneur{
    display: flex;
    /* grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 150px 300px;
    gap: 20px; */
    flex-direction: row;
    width: 500px;
}
.box{
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 2em;
    width: 250px;
    text-align: center;
}

@media screen and (max-width: 1200px){
    p{
        color: deeppink;
    }
}

@media  screen and (max-width: 960px) {
    .conteneur{
        flex-direction: column;
    }
    img{
        display: none;
    }
    p{
        overflow: scroll;
    }
}

/* .one{
    height: 100px;    
}

.two{
    height: 200px;
}

.three{
    height: 300px;
} */

 /* a{
    background-color: #023e8a;
    color: white;
    display: block;
    width: 300px;
    height: 100px;
}  */

p{
    margin: 50px;
    background-color: #bac9ce;
    padding: 50px;
}

body{
     background-color: #e4e7f0;
}

